{% extends 'base.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block body %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Super Blog</h1>
                <p class="lead">Ce blog a été réalisée sous symfony</p>
            </div>
        </div>
    <div class="container">
    
    </div>
{% endblock %}
