{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Ajouter un Utilisateur
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-5">
            <a href="{{path('user')}}" class="btn btn-primary">Retour aux Utilisateurs</a>
        </div>
        <div class="row">
            {{form(form)}}
            </div>
        </div>
    </div>
{% endblock %}
